<h1>edit contact</h1>


<%= form_for @contact do |form|%>

    <p>
         <%= form.label :name %><br />
         <%= form.text_field  :name %>
    </p>
    <p>
         <%= form.label :number %><br />
         <%= form.text_field  :number %>
    </p>

    <p>
        <%= form.label :age %><br />
        <%= form.number_field  :age %>
    </p>

    <p>
        <%= form.submit "save changes" %>
    </p>


<% end %>