
<% @contacts.each do |contact| %>
    <h2>name: <%= link_to contact.name, contact %></h2>
    <p>number : <%= contact.number %></p>
    
    <hr />
<% end %>



<p><%= link_to "add new contact", new_contact_path %></p>

