<h1>name : <%= @contact.name %></h1>
<p>number : <%= @contact.number %></p>
<p>age : <%= @contact.age %></p>
<p>created at : <%= @contact.created_at %></p>
<p>
    <%= link_to "edit contact" , edit_contact_path(@contact) %><br />
    <%= link_to "delete contact" , @contact, :method => :delete %>
</p>